*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    height: 150px;
    align-items: center;
    padding-top: 40px;
    padding-left: 60px;
    opacity: 0.6;
    backdrop-filter: blur(10px);
}
.name-portfolio, .name-portfolio a{
    color: orangered;
    text-decoration: none;
    /* font-weight: strong; */
}
.nav-list{
    text-decoration: none;
    list-style: none;
    display: flex;
    padding-right: 40px;
}
.nav-list li{
    margin-right: 30px;
}
.nav-list li a:hover{
    color: black;
    text-shadow: 
    10px 10px 10px orangered,
    0 0 20px orangered,
    0 0 30px orangered;
}
.nav-list li a{
    text-decoration: none;
    color: whitesmoke;    text-shadow: 
    10px 10px 10px black,
    0 0 20px black,
    0 0 30px black,
    0 0 40px black,
    0 0 50px black;
}

.hero-image2{
    height: 1000px;
    background-image: url(./images/IMG_1236.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.text-area{
    margin: 275px 0 0 60px;
    color: whitesmoke;
    text-shadow: 
    10px 10px 10px black,
    0 0 20px black,
    0 0 30px black,
    0 0 40px black;
    /* 0 0 50px black; */
    width: 55%;
}
.name{
    font-size: 60px;
}
.role{
    font-size: 40px;
    margin-top: 20px;
}
.stay-in-touch{
    font-size: 30px;
    margin-top: 60px;
    display:flex;
}
.stay-in-touch a{
    margin-left: 10px;
    color:orangered;
}
.hire-and-cv{
    display: flex;
}
.quick{
    margin:40px 0 0 60px ;
}
.quick button{
    height: 40px;
    width: 130px;
    border-radius: 20px;
    background-color: orangered;
}
.quick button a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
